<!-- templates/admin_scheduled_posts.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h3>Scheduled Posts</h3>
  {% if posts %}
    <ul class="list-group">
      {% for post in posts %}
        <li class="list-group-item">
          <strong>{{ post.title }}</strong> by {{ post.author.name }}<br>
          Scheduled for: {{ post.scheduled_time.strftime('%Y-%m-%d %H:%M') }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No scheduled posts found.</p>
  {% endif %}
</div>
{% endblock %}
